button, div, form, input {
  margin: 10px;
}

body {
  background-image: url(../images/loveless.jpg);
  background-size: cover;
  background-repeat: none;
}

.gif-container .img-container{
  display: inline-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}


.img-container {
  position: relative;
  text-align: center;
  color: white;
}

.top-left{
  position: absolute;
}

span{
  background-color: black;
}